.lock
/.idea/
/.idea/dictionaries
/html/ui/.idea
/dbn.iml
/dbn_db
/webapps/
/classes/
*.log
*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/dbn.jar
/dbnservice.jar
/dbn_test_db
/README_win.txt
dbn.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/test/classes/
*.csv
/jre
/dist
deploy.sh
/resource/dbn.manifest.mf
/resource/dbnservice.manifest.mf
/dbn.exe
/dbnservice.exe
/bundles
*.patch
/addons/classes/
/addons/src/*.java
dbn.properties
dbn.log
